<!DOCTYPE html>
<html>
<head>
  <title>Concert Nation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<div class="jumbotron" style="padding-left: 48px;">
			<h1 class="display-3">Concert Nation</h1>
			<p class="lead">Find the best concerts around your area.</p>
			<hr class="m-y-2">
			<p>Don't miss the party... join the Concert Nation now!</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="/concerts/new" role="button">Add new concert</a>
			</p>
		</div>
	</header>
	<%= yield %>
	<div style="height: 150px;">
		
	</div>
	<footer style="position: fixed; height: 60px; bottom: 0; width: 100%; background-color: #337ab7; color: white; ">
		<p style="text-align: center; margin-top: 20px">Developed with love at Ironhack</p>
	</footer>
</body>

</html>
