<!DOCTYPE html>
<html>
<head>
  <title>TicketWorld</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Ticket World</h1>
<%= yield %>
<footer>Developed with love at Ironhack</footer>
</body>
</html>
